html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 6rem;
}

.page-header {
  background: #2c3e4f;
  border-bottom: #6a89af solid 3px;
  padding: .5rem 1rem;
}

.page-header a {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
}

.main-content h1 {
  color: #6a89af;
}

.main-content h2 {
  color: #79b17d;
}

.main-content a {
  color: #53739b;
}

.main-content img {
  vertical-align: middle;
}

.chq-cir {
  height: 2rem;
  vertical-align: text-bottom;
  width: 2rem;
}

.main-content .post-heading {
  margin-bottom: 0;
  text-align: center;
}

.main-content .post-heading + p {
  margin-bottom: 1.5rem;
  margin-top: .5rem;
  text-align: center;
}

footer {
  background-color: #2c3e4f;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, .4);
  color: #f7f7f7;
  text-align: center;
  height: 6rem;
  margin-top: -6rem;
}

footer p {
  box-sizing: border-box;
  margin: 0;
  padding: 1.5rem 0;
}

footer a, footer a:hover {
  color: #f7f7f7;
}
